@import "../pages.scss";

.backDrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
}

.modal {
  width: 60%;
  background: white;
  box-shadow: 0 2px 8px black;
  position: fixed;
  top: 20vh;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  .modal_header {
    padding: 1rem;
    background-color: orange;
    h3 {
      margin: 0;
    }
  }
  .modal_action {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    @extend %custom-button
  }
}
