.tag-box {
  display: flex;
  Input {
    height: 30px;
    font-size: 1.2em;
    width: 100px;
    background-color:white;
  }
  .ant-tag {
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    background-color: rgb(247, 221, 108);
    border: 1px solid orange;
  }
  .site-tag-plus {
    background-color: white;
  }
}