@import '../../../../../../css/variables';

.tag-box {
  display: flex;
  Input {
    height: 30px;
    font-size: 1.2em;
    width: 100px;
    background-color:$color_4;
  }
  .ant-tag {
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    cursor: pointer;
    color: $color_10;
    background-color:$color_2;
    cursor: pointer;
    border-color: $color_2;
    .anticon-close {
      color: $color_10;
      font-size: 1em;
    }
  }
  .site-tag-plus {
    background-color: $color_10;
    color: $color_2;
    cursor: pointer;
    border-color: $color_2;
  }
}