.main_container {
  display: flex;
  align-items: center;
  padding: 10px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .intro {
        font-size: 1.5em;
        text-align: center;
        font-weight: normal;
        color: orange;
      }
      .content3 {
        display: none;
      }
      .sign_up {
        color: rgb(70, 196, 70);
        font-size: 1.2em;
        cursor: pointer;
        padding-top: 5px
      }
      .logo {
        width: 100px;
        height: 100px;
      }
    }
    div {
      margin: 10px;
      font-size: 1em;
    }
  }
}
@media only screen and (min-width: 600px) {
  .main_container {
    .sign_up_box {
      .content3 {
        color: rgb(70, 196, 70);
        display: inline;
        font-size: 1.7em;
        padding: 60px 50px
      }
    }
    .container {
      width: 60%;
      .logo_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        .intro {
          font-weight: bold;
        }
        .sign_up {
          font-size: 1.2em;
          padding-top: 35px;
          text-decoration: none;
        }
        .logo {
          width: 300px;
          height: 270px;
        }
      }
      div {
        margin: 10px;
        font-size: 1.2em;
      }
    }
  }
}