  
@import '../../../../../../css/variables';

.note_details {
  display: none;
  width: calc(100vw - 450px);
  margin: 0 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 20px;
  height: calc(100vh - 125px);
}

.note_edit {
  border-radius: 20px;
}


@media only screen and (min-width: 600px) {
  .note_details {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
}