@import '../../../../css/variables';

.header_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  .page_heading {
    width: 100px;
    font-size: 1.5em;
    color: $color_10;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 7px;
  }
  .ant-input-group {
    padding-left: 10px;
  }
}

.list_page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 10rem);
  .note_list {
    overflow: hidden;
    overflow-y: auto;
    height: inherit;
    width: 100%;
    list-style: none;
    margin: 10px;
    .note_list_item {
      width: 100%;
      display: flex;
      flex-direction: column;
      .note_category {
        overflow: hidden;
        height: 40px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-size: 1.4em;
      }
      .note_title {
        width: 100%;
        overflow: hidden;
        height: 40px;
        padding: 10px;
        background-color: rgba(251, 237, 237, 0.5);
        font-size: 1.2em;
        margin: 5px 0;
        cursor: pointer;
      }
      .note_title:hover {
        background-color: $color_6;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .header_box {
    flex-direction: row;
    .page_heading {
      width: 100%;
    }
    .search_input {
      max-width: 40%;
    }
  }
  .list_page {
    .note_list {
      width: 450px;
    }
  }
}