@import '../../../../css/variables';

.header_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  .page_heading {
    width: 100px;
    font-size: 1.5em;
    color: $color_2;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 7px;
  }
  .ant-input-group {
    padding-left: 10px;
  }
}

.note_page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 10rem);
  .note_list {
    overflow: hidden;
    overflow-y: auto;
    height: inherit;
    width: 45vw;
    list-style: none;
    margin: 10px;
    border: 1px solid $main_theme_color;
    .note_list_item {
      width: 100%;
      display: flex;
      flex-direction: column;
      .note_category {
        height: 40px;
        background-color: $color_7;
        border-top: 1px solid $main_theme_color;
        border-bottom: 1px solid $main_theme_color;
        color: $main_theme_color;
        padding: 10px;
        font-size: 1.2em;
      }
      .note_title {
        width: 100%;
        height: 40px;
        padding: 10px;
        font-size: 1.2em;
        cursor: pointer;
      }
      .note_title:hover {
        background-color: $color_6;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .header_box {
    flex-direction: row;
    .page_heading {
      width: 100%;
    }
    .search_input {
      max-width: 40%;
    }
  }
}