
@import "../pages.scss";

.form {
  max-width: 30%;
  margin: 8rem auto;
  .form-control {
    margin-bottom: 1rem;
    label, input, textArea {
      display: block;
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
  .form-action {
    @extend %custom-button
  }
}