@import '../../../css/variables';

.navbar {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: gray;
  padding-right: 20px;
  align-items: center;
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;
    height: inherit;
    .create_link {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      font-size: 25px;
      color: $color_10;
      margin: 14px 10px 10px;
      border-bottom: 4px solid transparent;
      cursor: pointer;
    }
    .create_link:hover, .create_link:active {
      border-bottom: 4px solid $color_3;
    }
  }
}
.activeButton {
  border-bottom: 4px solid $color_3;
}