@import '../../../../css/variables';

.ant-drawer-content-wrapper {
  height: calc(100vh - 40px) !important;
  background: transparent;
  vertical-align: center;
  margin: 40px 0;
  border-radius: 28px;
  .ant-drawer-content {
    border-radius: 15px 0 0 15px;
    .detail_box {
      overflow: auto;
      height: inherit;
      padding: 20px;
      height: 100%;
      border-radius: 20px 0 0 20px;
      box-sizing: border-box;
    }
  }
}

.hide_todo {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .hide_todo {
    display: inline-block;
  }
}