@import "../../../index.scss";

.todos-form {
  text-align: center;
  border: 1px solid purple;
  padding: 1rem;
  margin: 2rem auto;
  width: 30rem;
  max-width: 80%;
  @extend %custom-button
}


.todo_page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 10rem);
  border-top: 1px solid orange;
  .todo_list {
    overflow:hidden; 
    overflow-y: auto;
    height: inherit;
    width: 100%;
    list-style: none;
    padding: 0px;
    
    .todo_date_label {
      margin: 10px;
      height: 30px;
      font-size: 1.5em;
      color: orange;
      text-decoration: underline;
    }
      .todo_list_item {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        span {
          width: 140px;
          font-size: 1.2em;
          margin-left: 10px;
        }
        .list_main {
          font-size: 1.4em;
          margin-right: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          border: 1px solid orange;
          background-color: rgb(253, 248, 201);
          border-radius: 5px;
          width: 100%;
          height: 80px;
          .list_main_title {
            padding: 0 20px;
            width: 100%;
            cursor: pointer;
          }
          .list_main_status {
            width: 170px !important;
            padding: 10px;
          }
          .list_main_end {
            width: 170px;
            padding: 10px;
          }
          .delete_btn {
            font-size: 1.3em;
            font-weight: bold;
            color: orange;
          }
        }
      }
    }
  }