@import "../../../index.scss";

.todos-form {
  text-align: center;
  border: 1px solid purple;
  padding: 1rem;
  margin: 2rem auto;
  width: 30rem;
  max-width: 80%;
  @extend %custom-button
}

.todo_list{
  padding: 0;
  width: 100%;
  list-style: none;
  .todo_list_item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid purple;
  }
}