@import '../../css/variables';

.main {
  height: 100vh;    
  padding-top: 75px;
  overflow: hidden;
  .main_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .sign_up_box {
      width: 50vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .inner_sign_up_box {
        width: 25vw;
        .sign_in_label_box {
          display: flex;
          font-size: 1.6em;
          justify-content: space-between;
        }
      }
    }
    .container {
      width: 50vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient(#ff7b00, orange);
      .main_content{
        font-size: 1.5em;
        color: $color_4;
        margin: 20px;
      }
      .logo_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        .intro {
          width: 137px;
          font-size: 1.5em;
          text-align: center;
          font-weight: normal;
          color: $main_theme_color;
        }
      }
    }
  }

}
@media only screen and (min-width: 600px) {
  .main {
    .main_container {
      flex-direction: row;
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px;
        .logo_box {
          display: flex;
          flex-direction: row;
          align-items: center;
          .intro {
            font-weight: bold;
          }
          .sign_up {
            font-size: 1em;
            padding-top: 35px;
          }
        }
      }
    }
  }
}