@import '../../css/variables';

.main {
  height: 100vh;    
  overflow: hidden;
  .main_container {
    overflow:auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    .sign_up_box {
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .inner_sign_up_box {
        width: 90vw;
        padding-top: 50px;
        .sign_in_label_box {
          display: flex;
          font-size: 1.6em;
          justify-content: space-between;
          .sign_in {
            padding-bottom: 25px;
          }
        }
      }
    }
    .container {
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: url("../../../images/autumn-leaves-5019574_1920.png") repeat-x left bottom cadetblue; 
      background-size: 40vh;
      .main_content{
        font-size: 1.2em;
        color: $color_4;
        margin: 20px 40px;
      }
      .logo_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 80px 0 30px 57px;
        .intro {
          width: 137px;
          font-size: 1.5em;
          text-align: center;
          font-weight: bold;
          color: $main_theme_color;
        }
      }
    }
  }

}
@media only screen and (min-width: 1000px) {
  .main {
    .main_container {
      flex-direction: row;
      .sign_up_box {
        width: 50vw;
        .inner_sign_up_box {
          padding: 0px;
          width: 25vw;
        }
      }
      .container {
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px;
        .main_content {
          margin: 20px;
        }
        .logo_box {
          padding: 0; 
          .sign_up {
            font-size: 1em;
            padding-top: 35px;
          }
        }   
      }   
    }
  }
}