.auth-form {
  width: 40rem;
  max-width: 30%;
  margin: 5rem auto;
  .form-control {
    margin-bottom: 1rem;
    label, input {
      display: block;
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
  .form-action {
    button {
      background-color: yellowgreen;
      font: inherit;
      border: ipx solid yellowgreen;
      border-radius: 5px;
      padding: 0.25rem 1rem;
      margin-right: 1rem;
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(214, 247, 150);
      border: ipx solid rgb(214, 247, 150);
      border-radius: 5px;
    }
    button:active {
      background-color: rgb(214, 247, 150);
      border: ipx solid rgb(214, 247, 150);
      border-radius: 5px;
    }
  }
}