@import '../css/variables';

.main-header {
  width: 100vw;
  height: $header-height;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: $main_theme_color;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  
  button {
    text-decoration: none;
    color: $color_4;
    padding: 0.25rem 0.5rem;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
  }
  a, button {
    padding: 8px;
    margin: 15px 10px;
    height: 43px;
    font-size: 1.3em;
    list-style: none;
    text-decoration: none;
    color: $color_4;
  }
  a:hover {
    color: $color_5;
  }
  a:active {
    color: $color_5;
  }
  a.active {
    color: $color_5;
  }
}

@media only screen and (min-width: 600px) {
  .main-header {
    width: 100vw;
  }
}