@import '../../css/variables';

.backDrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  z-index: 500;
}

.alert {
  min-width: 400px;
  min-height: 100px;
  font-size: 1.2em;
  padding: 30px;
}

.modal {
  background-color: $color_10;
  box-shadow: 0 2px 8px black;
  border: 1px $main_theme_color solid;
  border-radius: 10px;
  position: fixed;
  width: 100vw;
  left: 50%;
  z-index: 700;
  transform: translateX(-50%);
  .modal_content {
    padding: 5px;
    margin: 0 62px;
  }
  .modal_header {
    width: 100vw;
    padding: 1rem;
    border: 1px $main_theme_color solid;
    background-color: $main_theme_color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    .modal_header_label {
      margin: 0;
      font-size: 1.5em;
      color: $color_4;
      width: 100%;
    }
    .delete_btn {
      font-size: 2em;
      font-weight: bold;
      color: $color_4;
    }
  }
}

@media only screen and (min-width: 600px) {
  .modal {
    width: 44vw;
    top: 10vh;
    .modal_header {
      width: 100%;
    }
  }
}
