@import '../../css/variables';

.main_app {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(181deg, rgba(95,158,160,1) 0%, rgba(112,108,108,1) 100%);
}

.empty_message {
  color: $color_8;
  font-size: 1.8em;
  width: inherit;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}