@import '../../css/variables';

.main_app {
  height: 100vh;
  width: 100vw;

  background: #efdbb5;
  background: url("../../../images/autumn-leaves-5019574_1920.png") no-repeat right bottom, linear-gradient(#ab7003, #efdbb5);
  background-size: 40vh;
}

.empty_message {
  font-size: 1.8em;
  width: inherit;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}