.spine {
  width: 100vw;
  ul {
    list-style-type: none;
    margin: 0;
    padding : 0px;
    background-color: rgb(253, 248, 201);
    height: inherit;
    li {
      display: inline-block;
      padding-left: 10px;
      width: 50px;
      height: 50px;
      font-size: 30px;
      border-radius: 5px;
      color: orange;
      margin: 10px 0 10px;
      cursor: pointer;
    }
    li:hover {
      background-color: rgb(247, 221, 108);
    }
  }
}
.activeButton {
  background-color: rgb(247, 221, 108);
}

@media only screen and (min-width: 600px) {
  .spine {
    height: inherit;
    width: 70px;
    ul {
      padding: 10px 1px 10px 10px ;
    }
  }
}