@import '../../../css/variables';

.spine {
  width: 100vw;
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: $color_7;
    padding: 0px;
    height: inherit;
    .create_link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      font-size: 30px;
      color: $main_theme_color;
      margin: 10px 0 15px;
      cursor: pointer;
    }
    .create_link:hover, .create_link:active {
      background-color: $color_3;
    }
  }
}
.activeButton {
  background-color: $color_3;
}

@media only screen and (min-width: 600px) {
  .spine {
    height: inherit;
    width: 70px;
    ul {
      flex-direction: column;
      padding: 10px 1px 10px 10px ;
    }
  }
}